<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Tab inicio -->
    <ion-tab title="Inicio"
             icon-off="ion-ios-home-outline"
             icon-on="ion-ios-home"
             ui-sref="tabs.inicio">
        <ion-nav-view name="tab-inicio"></ion-nav-view>
    </ion-tab>

    <!-- Tab empleados -->
    <ion-tab title="Empleados"
             icon-off="ion-ios-person-outline"
             icon-on="ion-ios-person"
             ui-sref="tabs.empleados">
        <ion-nav-view name="tab-empleados"></ion-nav-view>
    </ion-tab>
</ion-tabs>